/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

/*
Colors used 
Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orrange): #e0b354;
*/

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    /*Sets the font size to 16px */
    line-height: 1.6;
    /* Sets the line-height to 1.6 */

    /* 1.Establish a vertical flex container */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    /* 2. Ensure the body takes up at least the full viewport height */
    /* This is crucial: without it, flex-grow on main has no extra space to fill */
    min-height: 100vh;
}

/* Prevent header and footer from growing or shrinking unnecessarily */
/* We want them to respect their natural content height only */
header,
footer {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    /* Shorthand: flex-grow: 0, flex-shrink: 0, flex-basis: auto */
}

/* This is the key: main expands to fill all available space */
/* As a result, the footer is always pushed to the bottom of the viewport */
main {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    /* Grow to fill space, but don't shrink below content size */
    padding: 15px;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

a {
    color: #357b70;
}

a:visited {
    /* visited link*/
    color: #05676e;
}

a:hover,
a:focus {
    /* No underlinig when hovering over link */
    text-decoration: none;
}

a:active {
    /* selected link*/
    color: #489c79;
}

button {
    /* overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: #357b70;
    color: white;
    text-decoration: none;
    /*adds spacing to the button (this will be discussed more in-depth later) */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid #2b2b2b;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.button {
    /* overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: #357b70;
    color: white;
    text-decoration: none;
    /*adds spacing to the button (this will be discussed more in-depth later) */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid #2b2b2b;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.button__secondary {
    background-color: #e0b354;
    color: #2b2b2b;
}

button:hover {
    /* lets the mouse appear as a hand when hovevering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80%*/
    opacity: 0.8;
}

button:focus {
    /* lets the mouse appear as a hand when hovevering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80%*/
    opacity: 0.8;
}

.button:hover {
    /* lets the mouse appear as a hand when hovevering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80%*/
    opacity: 0.8;
}

.button:focus {
    /* lets the mouse appear as a hand when hovevering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80%*/
    opacity: 0.8;
}

.navigation-list__item--active {
    text-decoration: underline;
}

.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

.profile {
    max-width: 700px;
    margin: 0 auto;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
    border-bottom: 2px solid #2b2b2b;
}

.page-header__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 200px;
    flex: 0 1 200px;
}

.page-header__item:last-child {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

/* start grid fallback */
.grid__item {
    display: inline-block;
    width: 33%;
}

/* end grid fallback */

@supports (display: grid) {
    .grid {
        display: -ms-grid;
        display: grid;
        /*grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: 0;
    }

    .grid__item {
        background-color: lightgray;
        width: auto;
        min-height: auto;
        margin: 0;
        padding: 20px;
        -webkit-transition: -webkit-transform 0.25s, -webkit-box-shadow 0.25s;
        transition: -webkit-transform 0.25s, -webkit-box-shadow 0.25s;
        transition: transform 0.25s, box-shadow 0.25s;
        transition: transform 0.25s, box-shadow 0.25s, -webkit-transform 0.25s, -webkit-box-shadow 0.25s;
    }

    .grid__item:hover {
        -webkit-transform: scale(1.025);
        transform: scale(1.025);
        -webkit-box-shadow: 0px 1px 10px 0px #bbb;
        box-shadow: 0px 1px 10px 0px #bbb;
    }

    .grid__item:last-child {
        -ms-grid-column: 3;
        grid-column: 3 / 3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1 / 3;
    }
}

@media all and (max-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }

    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h1 {
        font-size: 22px;
    }
}

table {
    width: 80%;
    border: 1px solid #2b2b2b;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: inherit;
    font-family: inherit, sans-serif;

}

thead th {
    background-color: #f4f4f4;
    text-align: center;
    padding: 12px;
    border-bottom: 2px solid #2b2b2b;
    border-right: 1px solid #2b2b2b;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #2b2b2b;
    border-right: 1px solid #2b2b2b;
    text-align: center;
}

.about-content {
    text-align: center;
}

.about-content__item {
    max-width: 700px;
    margin: 0 auto;
}

@-webkit-keyframes color-change {
    0% {
        fill: #edc655;
    }

    50% {
        fill: #fcffad;
    }

    100% {
        fill: #f76414;
    }
}

@keyframes color-change {
    0% {
        fill: #edc655;
    }

    50% {
        fill: #fcffad;
    }

    100% {
        fill: #f76414;
    }
}

.sun {
    -webkit-animation: 4s color-change infinite alternate linear;
    animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
        transform: translate(0, 50px);
    }

    to {
        -webkit-transform: translate(200px, 50px);
        transform: translate(200px, 50px);
    }
}

@keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
        transform: translate(0, 50px);
    }

    to {
        -webkit-transform: translate(200px, 50px);
        transform: translate(200px, 50px);
    }
}

.cloud-front {
    -webkit-animation: 30s cloud-move infinite alternate linear;
    animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
        transform: translate(446px, 48px);
    }

    to {
        -webkit-transform: translate(100px, 48px);
        transform: translate(100px, 48px);
    }
}

@keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
        transform: translate(446px, 48px);
    }

    to {
        -webkit-transform: translate(100px, 48px);
        transform: translate(100px, 48px);
    }
}

.cloud-back {
    -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
    animation: 34s cloud-move-reverse infinite alternate linear;
}

.contact-content {
    text-align: center;
}

#contact-form {
    max-width: 320px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 5px;
    font-family: inherit, sans-serif;
}

#contact-form label {
    font-weight: bold;
}

#contact-form input[type="email"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: inherit;
    text-align: center;
}

#contact-form input[type="tel"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: inherit;
    text-align: center;
}

#contact-form textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: inherit;
    text-align: center;
}

#contact-form textarea {
    resize: vertical;
    min-height: 100px;
}

#contact-form input[type="submit"] {
    padding: 3px;
    border: none;
    border-radius: 3px;
    background-color: #357b70;
    color: white;
    font-size: inherit;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

#contact-form input[type="submit"]:hover {
    opacity: 0.8;
}

.work-headline {
    text-align: center;
    margin-bottom: 20px;
}

@media screen and (max-width: 550px) {
    .profile__portrait {
        float: none;
        width: 80%;
        margin: 20px auto;
        display: block;
    }
}

a {
    color: #357b70;
}